<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <!-- Font Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css" />

  <!-- Main css -->
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <!-- added Navbar using ejs File -->
  <%- include("./partials/Header") %>

    <h1>About page</h1>
</body>

</html>