<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>

<body>
  <!-- added Navbar using ejs File -->
  <%- include("./partials/Header") %>

    <% if (user) { %>
      <h1>You are Logged In</h1>
      <% } else { %>
        <h1>You are Not Logged In</h1>
        <% } %>

          <h3>Home page</h3>
          <h1>Product</h1>
          <form action="/" method="post">
            <div>
              <label for="product_name">Enter product name:</label>
              <br>
              <input type="text" name="product_name" id="product_name" required />
            </div>
            <div>
              <label for="product_value">Enter product value: ex: 5,12</label>
              <br>
              <input type="text" name="product_value" id="product_value" required />
            </div>
            <br>
            <button type="submit">Submit</button>
          </form>
          <h1 style="text-align: center;">Product Table</h1>
          <div style="display: flex; justify-content: center;">
            <% product.map((data)=>{ %>
              <div style="border: 1px solid black; margin: 5px; padding: 5px;">
                <p>
                  Product Name : <%= data.product_name %>
                </p>
                <p>
                  Product Value : <%= data.product_value %>
                </p>
              </div>
              <% }) %>
          </div>
          
</body>

</html>