<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Page </title>
</head>

<body>
  <!-- added Navbar using ejs File -->
  <!-- <%- include("./partials/Header") %> -->
  <h3>Product page</h3>

</body>

</html>