<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report Page ejs File</title>
</head>

<body>
  <h1>Student Report Page File</h1>
  <div style="display: flex;">
    <% student.map((data)=>{ %>
      <div>
        <p>
          Name : <%= data.name %>
        </p>
        <p>
          Grade : <%= data.grade %>
        </p>
        <p>
          Fav Subject : <%= data.favSubject %>
        </p>
      </div>
      <% }) %>
  </div>
</body>

</html>