<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report Page ejs File</title>
</head>

<body>
  <h1>Student Report Page File</h1>
  <p>
    Name : <%= student.name %>
  </p>
  <p>
    Grade : <%= student.grade %>
  </p>
  <p>
    Fav Subject : <%= student.favSubject %>
  </p>
</body>

</html>