<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <!-- added Navbar using ejs File -->
  <%- include("../partials/navbar") %>

    <h1>Register page</h1>

    <!-- added Footer using ejs File -->
    <%- include("../partials/Footer") %>
</body>

</html>