<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer page</title>
  <style>
    footer {
      text-align: center;
      padding: 3px;
      background-color: rgb(44, 42, 42);
      color: white;
    }
  </style>
</head>

<body>
  <footer>
    <p>Author: Sunny Rathaur<br>
      <a href="mailto:sunny@jetsetgo.in">sunny@jetsetgo.in</a>
    </p>
  </footer>

</body>

</html>